@use '../../../breakpoints';

.CreateNewJob {
  &__title {
    font: var(--headline-3);
  }
  &__subtitle {
    margin-top: 32px;
    margin-bottom: 10px;
    font: var(--headline-5);
  }
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
