@use "../../../breakpoints";
/* .navbar {
  display: none;
} */
.CreateNewJob__container {
  padding: 10px;

  h1 {
    font: var(--headline-4);
  }
  &__main {
    font: var(--headline-5);
    margin: 9px 0;
  }
  .input,
  .textarea {
    margin: 8px 0;
  }
  .range {
    display: inline-flex;
    &__separator {
      color: var(--gray-color);
      margin: 0 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 30px;
    }
    #input-Salary {
      width: 160px;
    }
  }
  .btn {

    margin: 20px auto;
  }
}

@include breakpoints.smallXS {
  
}
@include breakpoints.small {
  .CreateNewJob__container {
    padding: 30px;
    .btn {
      margin: 20px 0;
    }
  }
}
@include breakpoints.medium {
  .navbar {
    display: flex;
  }
  
  
}
