
.CreateNewJob__container {
  margin-left: 128px;
  margin-top: 32px;

  h1 {
    font: var(--headline-4);
  }
  &__main {
    font: var(--headline-5);
    margin: 9px 0;
  }
  .input,
  .textarea{
    margin: 8px 0;
  }

  .range {
    display: inline-flex;
    &__separator {
      color: var(--gray-color);
      margin: 0 10px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 30px;
    }
  }
  .btn {
    margin: 32px 0;
  }
}
