.Profile {
  &__title {
    font: var(--headline-3);
  }
  &__subtitle {
    margin-top: 32px;
    margin-bottom: 30px;
    font: var(--headline-5);
  }

  &__section {
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
