@use '../../../breakpoints';

.Onboarding {
  &__grid {
    padding: 32px 0;
  }

  h2 {
    font: var(--headline-3);
  }
  h4 {
    font: var(--headline-6);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    button {
      position: relative;
      padding-bottom: 6px;
      border: none;
      background-color: transparent;
      outline: 2px solid transparent;
      font: var(--headline-6);
      color: var(--light-gray-color);
      text-transform: uppercase;
      cursor: pointer;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--light-gray-color);
      }
      &.active {
        color: var(--dark-gray-color);
        &:after {
          background-color: var(--pink-color);
        }
      }
    }
  }

  &__steps {
    margin-top: 50px;
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    &-item {
      width: 100%;
      max-width: 230px;
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-gap: 10px;
      color: var(--light-gray-color);
      span {
        height: 40px;
        background-color: var(--bg-dark-color);
        color: var(--white-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active {
        color: var(--dark-gray-color);
        span {
          background-color: var(--pink-color);
        }
      }
    }
    &-content {
      p {
        text-transform: uppercase;
      }
    }

    form {
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    &-recommendation {
      max-width: 400px;
      text-transform: uppercase;
      font: var(--overline);
      color: var(--gray-color);
      margin-bottom: 10px;
    }

    &-buttons {
      max-width: 400px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }
}

@include breakpoints.medium {
  .Onboarding__steps ul {
    flex-direction: row;
  }
}
