@use '../../../breakpoints';

.Applications {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font: var(--headline-5);
    color: var(--dark-pink-color);
  }

  &__form {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
